# dependencies
node_modules/

# build packages
build/*
src/**.js
dist/*

# ide-user-sepcific files
.idea

# distribution packaging
.nyc_output

# testing files
.coverage
test/

# virtualenv
venv/

# misc
*.log
yarn.lock

# env files
*.env